In [1]:
# Set up the workstation 

import pandas as pd
import numpy as np

In [3]:
# Create a dataframe from the csv file 

transport_cost = pd.read_excel('transport_costs.xlsx')

# Check the datatypes 
print(transport_cost.dtypes)
print(transport_cost.shape)
transport_cost

region                         object
country                        object
port                           object
sea freight cost                int64
road transport cost per km    float64
currency                       object
distance unit                  object
dtype: object
(15, 7)

,region,country,port,sea freight cost,road transport cost per km,currency,distance unit
0,Africa,South Africa,Durban,2300,1.61,US $,km
1,Africa,Kenya,Mombasa,2800,13.50,US $,km
2,Africa,Nigeria,Lagos,4240,2.50,US $,km
3,Asia,Singapore,Singapore,180,1.00,US $,km
4,Asia,Japan,Yokohama,180,1.00,US $,km
5,Asia,China,Shanghai,180,1.00,US $,km
6,Europe,Netherlands,Rotterdam,110,2.10,US $,km
7,Europe,Germany,Hamburg,200,2.10,US $,km
8,Europe,Spain,Valencia,195,2.10,US $,km
9,Latin America and the Caribbean,Brazil,Santos,544,1.00,US $,km
10,Latin America and the Caribbean,Columbia,Cartagena,833,1.00,US $,km
11,Latin America and the Caribbean,Costa Rica,Puerto Limon,1654,1.00,US $,km
12,Oceania,Australia,Brisbane,4450,1.80,US $,km
13,Oceania,Australia,Fremantle,4450,1.80,US $,km
14,Oceania,New Zealand,Auckland,4450,1.75,US $,km

In [4]:
transport_cost['total_sea_freight_costs'] = transport_cost['sea freight cost'] * 2 * 4

transport_cost

,region,country,port,sea freight cost,road transport cost per km,currency,distance unit,total_sea_freight_costs
0,Africa,South Africa,Durban,2300,1.61,US $,km,18400
1,Africa,Kenya,Mombasa,2800,13.50,US $,km,22400
2,Africa,Nigeria,Lagos,4240,2.50,US $,km,33920
3,Asia,Singapore,Singapore,180,1.00,US $,km,1440
4,Asia,Japan,Yokohama,180,1.00,US $,km,1440
5,Asia,China,Shanghai,180,1.00,US $,km,1440
6,Europe,Netherlands,Rotterdam,110,2.10,US $,km,880
7,Europe,Germany,Hamburg,200,2.10,US $,km,1600
8,Europe,Spain,Valencia,195,2.10,US $,km,1560
9,Latin America and the Caribbean,Brazil,Santos,544,1.00,US $,km,4352
10,Latin America and the Caribbean,Columbia,Cartagena,833,1.00,US $,km,6664
11,Latin America and the Caribbean,Costa Rica,Puerto Limon,1654,1.00,US $,km,13232
12,Oceania,Australia,Brisbane,4450,1.80,US $,km,35600
13,Oceania,Australia,Fremantle,4450,1.80,US $,km,35600
14,Oceania,New Zealand,Auckland,4450,1.75,US $,km,35600

In [5]:
transport_cost['road_transport_cost'] = transport_cost['road transport cost per km'] * 10000

transport_cost['total_export_costs'] = transport_cost['road_transport_cost'] + transport_cost['total_sea_freight_costs']

transport_cost

,region,country,port,sea freight cost,road transport cost per km,currency,distance unit,total_sea_freight_costs,road_transport_cost,total_export_costs
0,Africa,South Africa,Durban,2300,1.61,US $,km,18400,16100.0,34500.0
1,Africa,Kenya,Mombasa,2800,13.50,US $,km,22400,135000.0,157400.0
2,Africa,Nigeria,Lagos,4240,2.50,US $,km,33920,25000.0,58920.0
3,Asia,Singapore,Singapore,180,1.00,US $,km,1440,10000.0,11440.0
4,Asia,Japan,Yokohama,180,1.00,US $,km,1440,10000.0,11440.0
5,Asia,China,Shanghai,180,1.00,US $,km,1440,10000.0,11440.0
6,Europe,Netherlands,Rotterdam,110,2.10,US $,km,880,21000.0,21880.0
7,Europe,Germany,Hamburg,200,2.10,US $,km,1600,21000.0,22600.0
8,Europe,Spain,Valencia,195,2.10,US $,km,1560,21000.0,22560.0
9,Latin America and the Caribbean,Brazil,Santos,544,1.00,US $,km,4352,10000.0,14352.0
10,Latin America and the Caribbean,Columbia,Cartagena,833,1.00,US $,km,6664,10000.0,16664.0
11,Latin America and the Caribbean,Costa Rica,Puerto Limon,1654,1.00,US $,km,13232,10000.0,23232.0
12,Oceania,Australia,Brisbane,4450,1.80,US $,km,35600,18000.0,53600.0
13,Oceania,Australia,Fremantle,4450,1.80,US $,km,35600,18000.0,53600.0
14,Oceania,New Zealand,Auckland,4450,1.75,US $,km,35600,17500.0,53100.0

In [6]:
transport_cost_export = transport_cost[['region', 'country', 'port', 'sea freight cost',
                                        'road transport cost per km', 'total_sea_freight_costs', 
                                        'road_transport_cost', 'total_export_costs']]

transport_cost_export.to_csv('5.1.3_python.csv', index = False)